body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #575757;
}
section{
    width: 100%;
}
.width{
    width: 95%;
    margin: 0 auto;
    display: flex;
}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.text-area{
    width: 45%;
    margin-left: 5%;
    margin-top: 10%;
}
.link-btn{
    background-image: linear-gradient(to left, #FB934A, #FD5332);
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 5px 0px #fc8b69;
}
.img-area{
    width: 50%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 98px;
    height: 649px;
}
.about-me .width{
    padding-top: 5%;
}
.img-area-2{
    width: 50%;
}
.img-area-2 img{
    width: 60%;
    display: inline-block;
    margin-left: 30%;
}
.text-area-2{
    width: 50%;
    margin-left: 5%;
}
.recipie-area{
    margin-top: 5%;
}
.text-area-3{
    text-align: center;
    width: 100%;
    display: block;
}
.recipie{
    margin-top: 5%;
}
.recipie-section{
    width: 35%;
    padding: 20px;
    box-shadow: 1px 1px 20px #c5c5c5;
    border-radius: 15px;
    margin: 0 2% 0 2%;
}
.recipie-section img{
    width: 100%;
}
.numbers{
    width: 70%;
    box-shadow: 1px 1px 20px #c5c5c5;
    margin-top: 10%;
    border-radius: 10px;
}
.number-section{
    width: 25%;
    margin: 0 5% 0 5%;
    text-align: center;
}
footer{
    background-color: #0B0D17;
    margin-top: 10%;
    padding: 20px 0 40px 0;
    text-align: center;
}
footer p{
    color: #fff;
    margin-bottom: 50px;
}
footer h3 span{
    color: #FB924A;
}